{% extends 'base.html.twig' %}

{% block title %}New Army{% endblock %}

{% block body %}
    <h1>Create new Army</h1>

    {{ include('army/_form.html.twig') }}

    <a href="{{ path('app_army_index') }}">back to list</a>
{% endblock %}
