{% extends 'base.html.twig' %}
{% block body %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table data-controller="datatable"
               id="datatable"
               data-datatable-data-value="{{ data }}"
               class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 m-2">

            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
               {# <tr>
                    <th scope="col" class="px-6 py-3">
                        Nom de la liste
                    </th>

                </tr>#}
            </thead>
            <tbody>
               {# <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Pour le bien suprème
                    </th>
                </tr>#}
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
   {# <div class="flex flex-col items-center">
        <!-- Help text -->
        <span class="text-sm text-gray-700 dark:text-gray-400">
            Showing <span class="font-semibold text-gray-900 dark:text-white">1</span> to <span class="font-semibold text-gray-900 dark:text-white">10</span> of <span class="font-semibold text-gray-900 dark:text-white">100</span> Entries
        </span>
        <!-- Buttons -->
        <div class="inline-flex mt-2 xs:mt-0">
            <button class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-s
                            hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700
                            dark:hover:text-white">
                Prev
            </button>
            <button class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0
                            border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700
                            dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                Next
            </button>
        </div>#}
    </div>
{% endblock %}

