<form method="post" action="{{ path('app_datasheet_delete', {'id': datasheet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ datasheet.id) }}">
    <button class="btn">Delete</button>
</form>
